@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My study board HPblue</h1>
    <h2 class="dislpay-5">first frame board</h2>
    <a href="http://www.naver.com">naver</a>
</div>
