@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">나만의 공부 보조 WepApp</h1> <hr><br>
    공부에 사용되는 검색 사이트 : 
    <a href="http://www.naver.com">네이버 검색</a>
    <a href="http://www.google.com">구글 검색</a><br><hr>
    찾고 싶은 내용 : <input type="text" name="title"> <input type="button" value="찾아보기" name="search"> <input type="reset" value="취소" />
    공부한 내용 : <input type="submit" value="기록하기">

</div>
